rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /varianceDashboard/{docId} {
      allow read, write: if true;
    }

  }
}
